[submodule "libraries/fc"]
	path = libraries/fc
	url = git@github.com:BitShares/fc.git
[submodule "libraries/leveldb"]
	path = libraries/leveldb
	url = https://github.com/bitcoin/leveldb.git
[submodule "vendor"]
	path = vendor
	url = https://github.com/BitShares/vendor.git
